.dev-icons .dev-icon {
	width: 3.5rem;
	height: 3.5rem;
}

.navbar-nav hr {
	--separator-color: #fafafa;
	color: var(--separator-color);
	border-color: var(--separator-color);
	background-color: var(--separator-color);
}

#projets ul > li img {
    width: 100%;
    box-shadow: rgb(0 0 0 / 15%) 0px 15px 25px, rgb(0 0 0 / 5%) 0px 5px 10px;
    margin-bottom: 3em;
}

#projets ul > li p {
    line-height: 1.8em;
	margin-top: 1em;
	margin-bottom: 0.8em;
}

#projets ul > li div.youtube {
    width: 100%;
	box-shadow: rgb(0 0 0 / 15%) 0px 15px 25px, rgb(0 0 0 / 5%) 0px 5px 10px;
	margin-bottom: 3em;

	position: relative;
	padding-bottom: 56.25%;
	background: red;
}

#projets ul > li div.youtube iframe {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
}