button {
	cursor: pointer;
}

button.bevel {
	font-family: 'Bebas Neue', cursive;
	font-size: 1.2em;

	border: none;
	border-radius: 0;

	padding: .2em 1em;
	background: linear-gradient(45deg, transparent 5%, var(--secondary-light) 5%);
}

button.primary {
	color: var(--primary-medium);
}

button.secondary {
	color: var(--primary-medium);
}
