:root {
	--primary-medium: #A44718;
	--primary-light: #AC582D;
	--secondary-medium: #B0A16D;
	--secondary-light: #E4DECC;

	--text-medium: #F8F4EF;
}

.primary {
	background: var(--primary-light);
	color: var(--secondary-light);
}

.secondary {
	background: var(--secondary-light);
	color: var(--primary-light);
}