/* === Google Fonts === */

/* - Bebas Neue - */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-neue {
	font-family: 'Bebas Neue', cursive;
}

/* - Abel - */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
.abel {
	font-family: 'Abel', sans-serif;
}

/* - Anton - */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.anton {
	font-family: 'Anton', sans-serif;
}

/* - Oswald - */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
.oswald-light {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.oswald-medium {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.oswald-bold {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}