body > section {
	overflow: hidden;
	box-sizing: border-box;
}

#section-1 {
	height: 100vh;

	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#section-2 {
	height: 100vh;

	background: var(--secondary-light);
	color: var(--text-medium);
}