h1 {
	font-size: 3em;
	text-transform: uppercase;
}

.title {
	margin-bottom: 0;
}

.subtitle {
	margin-top: 0;
}

.primary-shadow {
	color: var(--secondary-light);
	
	text-shadow: -10px 10px 0px var(--primary-medium),
	             -11px 11px 0px var(--primary-medium),
	             -12px 12px 0px var(--primary-medium),
	             -13px 13px 0px var(--primary-medium);
}

